<!-- wp:template-part {"slug":"main-header","theme":"car-dealer-shop","tagName":"header"} /-->

<!-- wp:group -->
<div class="wp-block-group">

<!-- wp:pattern {"slug":"car-dealer-shop/default-header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">

<!-- wp:pattern {"slug":"car-dealer-shop/404"} /-->

</main>
<!-- /wp:group -->


</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-columns","theme":"car-dealer-shop","tagName":"footer"} /-->