<!-- wp:template-part {"slug":"main-header","theme":"car-dealer-shop","tagName":"header"} /-->

<!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group">

  <!-- wp:pattern {"slug":"car-dealer-shop/main-banner"} /-->

  <!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
  <main class="wp-block-group">
    <!-- wp:pattern {"slug":"car-dealer-shop/featured-section"} /-->
  </main>
  <!-- /wp:group -->

  <!-- wp:pattern {"slug":"car-dealer-shop/droptail-section"} /-->

  <!-- wp:pattern {"slug":"car-dealer-shop/about-section"} /-->

</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-columns","theme":"car-dealer-shop","tagName":"footer"} /-->